body{
  display: flex;
  align-content: center;
  margin: 0;
}
.header{
  display: flex;
  
  
}

.container {
display:flex;
border-radius: 5px solid blue;
width:200;
height: 50%;
left:15px;
}
  
.bg-img{
  display:flex;
 padding: 0px 0px -50px 0px;
}  

.jimmy-s-diner {
  color: #ffffff;
  text-align: center;
  font-family: "Smythe-Regular", sans-serif;
  font-size: 39px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 46.07px;
  top: 46px;
  width: 169.28px;
}
.the-best-burgers-and-pizzas-in-town {
  color: #ffffff;
  text-align: left;
  font-family: "Smythe-Regular", sans-serif;
  font-size: 22.42160415649414px;
  line-height: 13.8px;
  font-weight: 400;
  position: relative;
  left: 46.07px;
  top: 89px;
  width: 275.46px;
  height: 8px;
}


