body {
  display: flex;
  margin: 0;
  
}

.header{
display:flexbox;
border: 2px solid blue;
position: absolute;


}
.container{
  margin: auto 0;
  
}  
.bg-img{
  display:flexbox;
  width:  800px;
  height: 350px;
  
  
}  

.jimmy-s-diner {
  display: inline;
  color: #d44a14;
  text-align:left;
  font-family: "Smythe-Regular", sans-serif;
  font-size: 39px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  top: 50px;
  right:3px;
}
.the-best-burgers-and-pizzas-in-town {
  display: inline;
  color: #e92f2f;
  text-align:justify;
  font-family: "Smythe-Regular", sans-serif;
  font-size: 25.42160415649414px;
  line-height: 35.8px;
  font-weight: 300;
  position: relative;
  left: -99.07px;
  top: 72px;
  padding-right: 10px;
}


